<div class="page-heading">
  <h1 class="page-title text-center"> Dados do Perfil </h1>
</div>

<div class="container ">
  <div class="row d-flex justify-content-center sm">
    <div class="col-lg-7">
      <div class="p-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
        </div>
          <form class="user">
             <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Nome">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="SobreNome">
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email">
              </div>
              <hr>
              <a href="index.html" class="btn btn-google btn-user btn-block">
                 Salvar
              </a>
          </form>
          <hr>
      </div>
    </div>
  </div>
</div>