<% @questions.each do |question| %>
    <div class="panel panel-default px-5 py-5 mx-5"> 
      <div class="panel-heading"> 
        <h3 class="panel-title"> <%= question.description %> </h3> 
      </div>
      <div class="panel-body"> 
        <ul>
            <% question.answers.each do |answer| %>
                <li>
                    <%= answer.description %>
                </li>
            <% end %>
        </ul>
      </div>
      
    </div>
<% end %>

    <div class="navbar navbar-expand-lg navbar-light bg-light px-5 py-5 mx-5">
      <div class="container-fluid">
        <%= paginate @questions, style:'text-decoration: none' %>
      </div>
    </div>